# Face Crop Param
crop_face:
  face_width: 80
  output_size: 224
  scale: 0.9

# Artifact Detection Module.
adm_det:
  min_dim: 224
  aspect_ratios: [[1], [1], [1], [1]]
  feature_maps: [7, 5, 3, 1]
  steps: [32, 45, 75, 224]
  min_sizes: [40, 80, 120, 224]
  max_sizes: [80, 120, 160, 224]
  clip: True
  variance: [0.1]
  name: deepfake

# The Size of the Sliding Window.
sliding_win:
  prior_bbox: [[40, 80], [80, 120], [120, 160], [224, 224]]

# test data
dataset:
  img_path_FF++: "/root/autodl-tmp/Deepfake_Dataset/FF++_faces_new/test"   # DeeperForensics_random
  ld_path_FF++: "/home/h/hchengxa/CADDM/lib/ffpp_ldm.json"
  img_csv_list_FF++: ['/home/h/hchengxa/media_dld/Deepfake_Dataset_with_race/ff++/test.csv']
  name_FF++: 'FF++'

  img_path_celeb: "/root/autodl-tmp/Deepfake_Dataset/Celeb-DF/test"   # DeeperForensics_random
  ld_path_celeb: "/home/h/hchengxa/CADDM/lib/celeb_ldm.json"
  img_csv_list_celeb: ['/home/h/hchengxa/media_dld/Deepfake_Dataset_with_race/celebdf/test.csv']
  name_celeb: 'celeb'

  img_path_dfd: "/root/autodl-tmp/Deepfake_Dataset/DeeperForensics_random/test"   # DeeperForensics_random
  ld_path_dfd: "/home/h/hchengxa/CADDM/lib/dfd_ldm.json"
  img_csv_list_dfd: ['/home/h/hchengxa/media_dld/Deepfake_Dataset_with_race/dfd/test.csv']
  name_dfd: 'dfd'

  img_path_dfdc: "/root/autodl-tmp/Deepfake_Dataset/DFDC_faces/test"   # DeeperForensics_random
  ld_path_dfdc: "/home/h/hchengxa/CADDM/lib/dfdc_ldm.json"
  img_csv_list_dfdc: ['/home/h/hchengxa/media_dld/Deepfake_Dataset_with_race/dfdc/test.csv']
  name_dfdc: 'dfdc'

# model info
model:
  backbone: "efficientnet-b4"
  ckpt: "epoch_35.pkl"


# test params
test:
  batch_size: 32
  strategy: remove

general:
  exp_name: CADDM
  exp_id: remove_vis
  svd: True
